<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">bagasys</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/items">Items</a></li>
        <li><a href="/categories">Categories</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <h3>Edit Item: <%= item.name %></h3>
    <form class="col s12" action="/items/<%=item.id%>/update" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="input item's name." id="name" type="text" class="validate" name="name" value="<%=item.name%>">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="input item's price." id="price" type="number"   class="validate" name="price" value="<%=item.price%>">
          <label for="price">Price</label>
        </div>
      </div>

      <h4>Category</h4>
      <div class="row">
        <% categories.each do |category| %>
          <div class="col" >
            <label>
              <% if current_categories_ids.include?(category.id)%>
                <input type="checkbox" value="<%= category.id %>" name="categories_ids[]" checked="checked"/>
              <% else %>
                <input type="checkbox" value="<%= category.id %>" name="categories_ids[]"/>
              <% end %>
              <span><%= category.name %></span>
            </label>
          </div>
        <% end %>
      </div>


      
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Update Item
          <i class="material-icons right">send</i>
        </button>
      </div>  
    </form>
  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>